<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel = "shortcut icon" length = 16px width = 16px href = "images/map.ico"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>City Finder</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">City Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
               
            </ul>
        </div>
    </nav>

    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-white">City Finder</h1>
                <h2 class="display-4 text-white">Adventure at the click of a button!</h2>
            </div>
        </div>
    </header>



<form method ="POST" action= "/results">
<div class = "all_containers" style="background: #FFDEE1; color: Black;">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://4.bp.blogspot.com/-9AHe2UWqt1Y/VC44R5b8c1I/AAAAAAAAMFA/NtSBim8QpyU/s1600/Time-Square.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                   <div class="questions">
  
            <h2 class="display-4"><td> What type of area would you like to stay in?</td></h2>
            <h4><td>
              <input type ="radio" value="Urban" name = "city">Urban
              <input type ="radio" value="Calm" name = "city">Calm
        
            </td></h4>
        
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class = "all_containers" style="background: #CC757E; color: Black;">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://media.mnn.com/assets/images/2015/03/forest-path-germany.jpg.653x0_q80_crop-smart.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4"> <td> Do you prefer nature or city?</td></h2>
                        <h4><td>
              <input type ="radio" value="Nature" name = "activities">Nature
              <input type ="radio" value="City" name = "activities">City
            </td></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class = "all_containers" style="background: #FF929D; color: Black;">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://www.nesdis.noaa.gov/sites/default/files/assets/images/transportation.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4"><td> What type of transportation do you prefer?</td></h2>
                        <td><h4>
              <input type ="radio" value="Bus" name = "transportation">Bus
              <input type ="radio" value="Walking" name = "transportation">Walking
              <input type ="radio" value="Trains/Subways" name = "transportation">Trains/Subway<br>
              <input type ="radio" value="Biking" name = "transportation">Biking
              <input type ="radio" value="Car" name = "transportation">Car
             <br>
              <input type="submit">
            </td></h4>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
         <!-- About -->
<div class = "all_containers" style="background: #FFDEE1; color: Black;">
    </section>
      <header id = "about" class="masthead">
        <div class="overlay">
            <div class="containers">
                <h1 class="display-1 text-white">About us!</h1>
                <h2 class="display-4 text-white">Here is some info about the creators of this website!</h2>
            </div>
        </div>
    </header>



    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circles" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/19894796_10154767714051417_6510040932897563597_n.jpg?oh=5b72dcfdd77608677bf4ea7d2ed72e7a&oe=5A2AB32A">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                   <div class="about">
  
            <h2 class="display-4"><td> Cristina!</td></h2>
            <h4>Cristina is  16 years of age and is going to be a junior this fall. “A girl should be two things: who and what she wants to be.”-Coco Chanel 
</h4>
        
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class = "all_containers" style="background: #CC757E; color: Black;">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <<img class="img-fluid rounded-circles" src="images/rukiya.JPG">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4"> <td> Rukiya!</td></h2>
                        <h4> Rukiya is 13 years of age and is going to be in the 8th grade this fall.”Beauty begins the moment you decide to be yourself”
 </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
   
<div class = "all_containers" style="background: #FF929D; color: Black;">

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circles" src="https://pbs.twimg.com/profile_images/869954984959455233/bjT9RWan_400x400.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4"><td> Claire!</td></h2>
                        <h4>Claire is 15 years of age and is going to be a sophomore this fall. 
“What makes you different or weird, that’s your strength.”-Meryl Streep.</h4>
            
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; City Finder 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
